<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

  <dubbo:annotation/>

  <dubbo:application name="dubbo" owner="tsc" organization="ericsson" logger="slf4j"/>

  <dubbo:provider filter="logFilter"/>

  <!-- registry -->
  <!-- 服务注册地址 -->
  <dubbo:registry id="mainRegistry" address="zookeeper://127.0.0.1:2181"/>

  <!-- 备用服务注册地址 -->
  <!-- <dubbo:registry id="backupRegistry" address="zookeeper://172.21.38.71:2181" default="false" /> -->

  <!-- 使用rest协议 -->
  <dubbo:protocol name="rest" port="9090" contextpath="dubbo/services" server="servlet"
    extension="com.alibaba.dubbo.rpc.protocol.rest.support.LoggingFilter" dispatcher="all" threadpool="fixed" threads="80"/>

  <!-- 使用dubbo协议
  <dubbo:protocol name="dubbo" serialization="kryo" port="20882" dispatcher="all" threadpool="fixed" threads="80"/>
  -->

  <!-- service start -->

  <!-- RVS uplink -->
  <dubbo:service interface="cn.ghl.dubbo.service.DubboService " ref="dubboService" timeout="20000" protocol="rest"
    validation="false"/>

  <bean id="dubboService" class="cn.ghl.dubbo.service.impl.DubboServiceImpl"/>

  <!-- service end -->

  <!-- reference start -->

  <!-- 远程状态异步返回给TMP
  <dubbo:reference id="remoteStatusResponseService" interface="com.ericsson.csp.tsc.api.service.response.RemoteStatusResponseService"
    check="false"/>
    -->
  <!-- reference end -->
</beans>